# git repos
-e git://github.com/grapheneLab/python-graphenelib@karma#egg=graphenelib
-e git://github.com/grapheneLab/python-bitshares@karma-hf2#egg=bitshares
autobahn
cryptography
pycrypto
pyyaml

# flask
flask
Flask-SQLAlchemy
Flask-Session
flask-cors
flask-script
flask-mail
flask-markdown

# hosting
gunicorn
configparser

# misc
requests>=2.9.1
